.section-about {
  padding: 94px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.about {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__thumb {
  position: relative;
}

.about__text-thumb {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white--text-color);
}
