.section-benefits {
  padding-top: 94px;
}

.benefits {
  display: flex;
}

.benefits__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
