.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
// .clients__item:not(:last-child) {
//   margin-right: 30px;
// }

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--decoration-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
