.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    margin-top: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 0;
  }
}

.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primaty-text-color);
  &--accent {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    color: var(--primaty-text-color);
    // font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    // text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__item:not(:first-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts__mail-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__smartphone-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-social {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;

    &__item:not(:last-child) {
      margin-right: 20px;
    }

    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      text-decoration: none;
      letter-spacing: 0.02em;

      color: var(--accent-text-color);
    }
  }
}
