.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: -15px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.examples__item {
  width: 450px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    width: 370px;
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.examples__link {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primaty-text-color);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__img-text {
  position: absolute;
  top: 0;
  bottom: -1px;
  transform: translateY(100%);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white--text-color);
  letter-spacing: 0.03em;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  .examples__item:hover & {
    transform: translateY(0);
  }
}

.examples__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  .examples__item:first-child & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 146px;
    }
  }
}

.examples__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
