.section-team {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team {
  // display: flex;
  // width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bg-color);
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__text {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--decoration-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    fill: var(--white--text-color);
  }
  &k:not(:last-child) {
    margin-right: 10px;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
}
